
    <div class="messages_container" hx-get="{% url 'message_outbox' %}" hx-trigger="every 5s">
        <h1>My Outbox</h1>
        <div class="inbox_container">
            <table class="profile_message">
                <tr class="profile_message_labels">
                    <td>Sent To</td>
                    <td>Body</td>
                    <td>Sent</td>
                </tr>
                {% for message in outbox %}
                    <tr class='profile_message_content'>
                            <td><a href="{% url 'user-detail' message.receiver.id %}">{{message.receiver.username}}</a></td>
                            <td><a href="{% url 'message_detail_inbox' message.id %}">{{message.subject}}</a></td>
                            <td><a href="{% url 'message_detail_inbox' message.id %}">{{message.created_on}}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>