{% extends 'base.html' %}


{% block content %}
<div class='post_container'>
    <div class="posts">
        {% for obj in page_obj %}
            <div class="post">
               <h2><a href="{% url 'user-detail' obj.owner.id %}">Posted by: {{ obj.owner }}</a></h2>
               <h4>Subject: {{ obj.description }}</h4>
               <p>Content: {{ obj.content }}<span>Created on: {{ obj.created }}</span></p>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        </span>
    </div>
</div>

{% endblock %}