{% extends 'base.html' %}

{% block content %}

<div class="layout-container">
    <div class="background-container">
        <div class="form-container">
            <form action="" method="post" class="form-layout">
                {% csrf_token %}
                <p>Are you sure you wish to delete this post?</p>

                <div class="form-controls">
                    <a class="go-back" href="{% url 'my-posts' %}">Go Back</a>
                    <button type="submit">Delete Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}