<nav>
    <div class="logo">
        <span>Django Blog</span>
    </div>
    <div class="main-links">
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="">Account</a></li>
            <li><a href="">Posts</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>