* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
}
.container {
    display: flex;
    justify-content: center;
}


/* Navbar */
nav {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    font-size: 1.2em;
    box-shadow: 0 .25em 1em grey;
}
.nav-links {
    display: flex;
    list-style-type: none;
    gap: 1em;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
/* Message Styling */
.messages {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    margin-top: .5em;
}
.messages span {
    cursor: pointer;
}
.messages .error {
    max-height: 100%;
    background-color: #f03d40;
    padding: .5em 1em;
    display: flex;
    gap: 2em;
    border-radius: 1.2em;
}
.messages .success {
    max-height: 100%;
    background-color: limegreen;
    padding: .5em 1em;
    display: flex;
    gap: 2em;
    border-radius: 1.2em;
}

/* Form Styling */

.form-container {
    margin-top: 8em;
    background-color: rgba(0, 0, 0, 0.692);
    padding: 3em 4em;
    border-radius: 1em;
    width: 50em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 .25em 1em grey;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.form-container input {
    border: none;
    border-radius: 1em;
    padding: .7em 1em;
    width: 100%;
}
.form-container input:focus {
    outline: none;
}

.form-container ul {
    list-style-type: none;
}
.form-container div {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: .5em;
}
.form-container .go-back, button {
    border: none;
    padding: .25em 1em;
    border-radius: 1.5em;
    color: white;
    font-size: inherit;
}
.form-container button {
    background-color: limegreen;
}
.go-back {
    background-color: firebrick;
    text-decoration: none;
}
/* Account Styling */

.account-container {
    width: 100%;
    margin-top: 3em;
    padding: 0 5em;
    line-height: 3em;
}
.account-container h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
}
.account-container span {
    font-weight: 500;
}

/* All Users Page Styling */

.all-users-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6em;
    justify-content: center;
    align-items: center;
    gap: 3em;
    max-width: 100%;
}
.profile-card {
    padding: 1em 2em;
}
.feed_container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    width: 100%;
    padding: 0 5em;
}