* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}


/* Navbar */
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}
.nav-links {
    display: flex;
    list-style-type: none;
    gap: 1em;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.messages {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    margin-top: .5em;
}
.messages span {
    cursor: pointer;
}
.messages .error {
    max-height: 100%;
    background-color: #f03d40;
    padding: .5em 1em;
    display: flex;
    gap: 2em;
    border-radius: 1.2em;
}
.messages .success {
    max-height: 100%;
    background-color: limegreen;
    padding: .5em 1em;
    display: flex;
    gap: 2em;
    border-radius: 1.2em;
}