{% extends 'base.html'%}


{% block content %}
<div class="layout-container">
        <div class="form-container">
            <div class="background-container">
                <form action="" class="form-layout" method="post">
                    <h1>Password change for: {{ request.user.profile }}</h1>
                    {% csrf_token %}

                    {{form}}

                    <div class="form-controls">
                        <a href="{% url 'user-profile' %}" class="go-back">Go Back</a>
                        <button type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
</div>

{% endblock %}