{% extends 'base.html'%}


{% block content %}

<div class="layout-container">
    <div class="form-container">
        <div class="background-container">
            <form action="" method="post" class="form-layout">
                {% csrf_token %}
                {{ form }}
                <div class="form-controls">
                    <a class="go-back" href="{{request.META.HTTP_REFERER}}">Go Back</a>
                    <button type="submit">Update Theme</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}