{% extends 'base.html' %}


{% block content %}

{% if request.user.is_authenticated %}

<div class="index-container">
    <div class="form-container new_post_container">
        <h1>New Post</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Create New Post</button>
        </form>
    </div>
    <div class="feed_container">
        {% for obj in profile_feed %}
    
        <div class="post">
            <h2>
                {{ obj.owner }}
            </h2>
            <p>
                {{ obj.content }} <span>{{ obj.created }}</span>
            </p>
        </div>
    
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}