{% extends 'base.html' %}

{% block content %}

<div class="layout-container">
    <div class="account-container">
        <div class="account-info flex-center">
            <h1>Profile Info</h1>
            <div class="flex-center">
                <span>Username:</span> {{ profile.username }}
            </div>
            {% if profile.first_name %}
            <div class="flex-center">
                <span>First Name:</span> {{ profile.first_name }}
            </div>
            {% endif %}
            {% if profile.last_name %}
            <div class="flex-center">
                <span>Last Name:</span> {{ profile.last_name }}
            </div>
            {% endif %}
            {% if profile.email %}
            <div class="flex-center">
            <span> Email:</span> {{ profile.email }}
            </div>
            {% endif %}
            <div class="flex-center-row">
                <a class="account-update" href="{% url 'update-user-profile' profile.id %}">Update Info</a>
                <a class="account-password" href="{% url 'change-password' %}">Change Password</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}