{% extends 'base.html' %}

{% block content %}

<div class="account-container">
    
    <div class="account-username">
        Username: {{ profile.username }}
    </div>
    {% if profile.first_name %}
    <div class="account-first-name">
        First Name: {{ profile.first_name }}
    </div>
    {% endif %}
    {% if profile.last_name %}
    <div class="account-last-name">
        Last Name: {{ profile.last_name }}
    </div>
    {% endif %}
    {% if profile.email %}
    <div class="account-email">
        Email: {{ profile.email }}
    </div>
    {% endif %}


</div>


{% endblock content %}