{% extends 'base.html' %}


{% block content %}

<div class="layout-container">
    <div class="form-container">
        <div class="background-container">
            <form action="" method="post" class="form-layout">
                <h1>Sign Up</h1>
                {% csrf_token %}
            
            
                {{ form }}
                

                <div class="form-controls">
                    <a href="{% url 'index' %}" class="go-back">Go Back</a>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}