{% extends 'base.html' %}


{% block content %}

<div class="layout-container">
    <div class="form-container">
        <div class="background-container">
            <form action="" method="post" class="form-layout">
                <h1>Sign In</h1>
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name='username'>
            
            
                <label for="password">Password:</label>
                <input type="password" name="password">
                <div class='form-controls'>
                    <a class="go-back" href="{% url 'index' %}">Go Back</a>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %} 