{% extends 'base.html'%}

{% block content %}

<div class="layout-container">
    <div class="messages-container">
        <div class="background-container">
            <div class="messages-control">
                <button hx-get="{% url 'message_inbox' %}" hx-target="#messages_display">Inbox</button>
                <button hx-get="{% url 'message_outbox' %}" hx-target="#messages_display">Outbox</button>
            </div>
            <div class="messages-display" id="messages_display">
            </div>
        </div>
    </div>
</div>


{% endblock %}