{% extends 'base.html' %}


{% block content %}
<div class="layout-container">
    <div class="background-container">
        <div class="form-container">
            <form action="" method="post" class="form-layout">
                <h1>Send {{ recipient.username }} a message: </h1>
                {% csrf_token %}

                {{ form }}

                <div class="form-controls">
                    <a href="" class="go-back">Go Back</a>
                    <button type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}